@import "compass/reset";
@import "compass/css3";

@import "../../../src/retina-sprites";
@import "../../../src/retina-background-image";

body {
	color: #000;
	background-color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px;
}

h1 {
    font-weight: bold;
    font-size: 24px;
}

p {
    padding: 10px 0px;
}

.sprite1, .sprite2, .sprite3 {
    margin: 10px 0px;
    float: left;
    margin-right: 20px;
}

.sprite1 {
    @include use-sprite("sprite1");
}

.sprite2 {
    @include use-sprite("sprite2");
}

.sprite3 {
    @include use-sprite("sprite3");
}

.background {
    width: 100%;
    height: 200px;
    @include background-retina("background.gif", "background-2x.gif");
    margin: 10px 0px;
    clear: both;
}