/*
Syntax error: Undefined mixin 'background-image-retina'.
        on line 45 of D:/Projects/Git/Retina-Sprites-for-Compass/example/assets/sass/screen.scss, in `background-image-retina'
        from line 45 of D:/Projects/Git/Retina-Sprites-for-Compass/example/assets/sass/screen.scss

Backtrace:
D:/Projects/Git/Retina-Sprites-for-Compass/example/assets/sass/screen.scss:45:in `background-image-retina'
D:/Projects/Git/Retina-Sprites-for-Compass/example/assets/sass/screen.scss:45
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:249:in `visit_mixin'
org/jruby/RubyKernel.java:2080:in `send'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2331:in `collect'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:316:in `visit_rule'
org/jruby/RubyKernel.java:2080:in `send'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2331:in `collect'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:126:in `visit_root'
org/jruby/RubyKernel.java:2080:in `send'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
org/jruby/RubyKernel.java:2080:in `send'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/tree/root_node.rb:20:in `render'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/engine.rb:315:in `_render'
D:/Apps/compass.app/lib/ruby/compass_common/sass-3.2.1/lib/sass/../sass/engine.rb:262:in `render'
file:/D:/Apps/compass.app/compass-app.jar!/compass_patch.rb:124:in `compile'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/D:/Apps/compass.app/compass-app.jar!/compass_patch.rb:123:in `compile'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/D:/Apps/compass.app/compass-app.jar!/compass_patch.rb:122:in `compile'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1615:in `each'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:73:in `run_callback'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:55:in `callback_action'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/path.rb:35:in `update'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:39:in `modified'
org/jruby/RubyArray.java:1615:in `each'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:37:in `modified'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/state/directory.rb:18:in `refresh'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyArray.java:1615:in `each'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyKernel.java:1410:in `loop'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/backends/polling.rb:15:in `run'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm/monitor.rb:26:in `run'
D:/Apps/compass.app/lib/ruby/jruby/fssm-0.2.9-tka-patched/lib/fssm.rb:70:in `monitor'
file:/D:/Apps/compass.app/compass-app.jar!/compass_patch.rb:22:in `perform'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
D:/Apps/compass.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
file:/D:/Apps/compass.app/compass-app.jar!/ui/tray.rb:420:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background-image-retina'.\A         on line 45 of D:/Projects/Git/Retina-Sprites-for-Compass/example/assets/sass/screen.scss, in `background-image-retina'\A         from line 45 of D:/Projects/Git/Retina-Sprites-for-Compass/example/assets/sass/screen.scss"; }
